html {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1680px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding-top: 46px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  color: #707070;
  transition: all 0.3s;
}
.header__top {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 128px;
}
.header__top .logo-link {
  z-index: 2;
  height: 57px;
}
.header__top .login__info {
  z-index: 2;
  display: flex;
  transition: all 0.3s;
  gap: 24px;
  align-items: center;
}
.header__top .login__info .login {
  transition: all 0.3s;
}
.header__top .login__info .login:hover {
  color: #3c82f4;
}
.header__top .login__info .sign_up {
  color: #fff;
  padding: 12px 20px;
  transition: all 0.3s;
  background: #306ef7;
  border-radius: 7px;
}
.header__top .login__info .sign_up:hover {
  background-color: #fff;
  color: #306ef7;
}
.header__content {
  text-align: center;
}
.header__content .content__title {
  font-weight: 700;
  line-height: 130px;
  color: #fff;
  margin-bottom: 136px;
}
@media (max-width: 767px) {
  .header__content .content__title {
    font-size: calc( 56px + 95.2 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .header__content .content__title {
    font-size: calc(56px + 56 * (100vw / 1920));
  }
}
.header__content .content__title span {
  background-image: linear-gradient(90deg, #fe6783 1.9%, #ffbf84 97.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__content .content__text_top {
  max-width: 694px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 50px;
  font-weight: 500;
  line-height: 60px;
}
@media (max-width: 767px) {
  .header__content .content__text_top {
    font-size: calc( 21px + 32.3 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .header__content .content__text_top {
    font-size: calc(21px + 19 * (100vw / 1920));
  }
}
.header__btn {
  display: inline-block;
  max-width: 313px;
  background-color: #000;
  padding: 24px 0;
  transition: all 0.3s;
  border: 1px solid #707070;
  border-radius: 7px;
  width: 100%;
  margin-bottom: 21px;
}
.header__btn:hover {
  background-color: #326cf9;
  color: #fff;
}
.header__btn + .header__btn {
  margin-left: 20px;
}

.menu__brg {
  display: none;
}
.menu__brg.active span {
  transform: scale(0);
}
.menu__brg.active::after {
  transform: rotate(45deg);
  top: 47%;
}
.menu__brg.active::before {
  transform: rotate(-45deg);
  bottom: 47%;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
  justify-content: space-between;
}
.menu__list .menu__item {
  position: relative;
  transition: all 0.3s;
}
.menu__list .menu__item:first-child {
  margin-right: -10px;
}
.menu__list .menu__item:first-child img {
  margin-bottom: 2px;
}
.menu__list .menu__item:hover {
  color: #3c82f4;
}
.menu__list.active {
  transform: translateY(0);
  height: 100vh;
  gap: 60px;
  justify-content: flex-start;
}

.content__text_bottom {
  font-size: 25px;
  line-height: 38px;
  color: #707070;
  display: flex;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 188px;
}
.content__text_bottom span {
  font-weight: 700;
  color: #fff;
}

.main {
  text-align: center;
}
.main__info {
  margin-bottom: 162px;
}
.main__info-title {
  font-weight: 600;
  margin-bottom: 64px;
  line-height: 112px;
  color: #fff;
}
@media (max-width: 767px) {
  .main__info-title {
    font-size: calc( 40px + 59.5 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .main__info-title {
    font-size: calc(40px + 35 * (100vw / 1920));
  }
}
.main__info-items {
  display: flex;
  max-width: 1483px;
  margin: 0 auto;
  justify-content: space-between;
}
.main__info-item .item__title {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  font-weight: 600;
  line-height: 52px;
}
@media (max-width: 767px) {
  .main__info-item .item__title {
    font-size: calc( 20px + 25.5 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .main__info-item .item__title {
    font-size: calc(20px + 15 * (100vw / 1920));
  }
}
.main__info-item .item__text {
  font-weight: 400;
  line-height: 33px;
  color: #707070;
  padding: 0 10px;
}
@media (max-width: 767px) {
  .main__info-item .item__text {
    font-size: calc( 16px + 10.2 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .main__info-item .item__text {
    font-size: calc(16px + 6 * (100vw / 1920));
  }
}
.main__prices-title {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  margin-bottom: 123px;
}

.wide__container {
  max-width: 1920px;
  margin: 0 auto;
}

.step__top {
  text-align: center;
  max-width: 930px;
  margin: 0 auto;
  margin-bottom: 182px;
}
.step__top-number {
  font-weight: 600;
  line-height: 38px;
  color: #3d82f2;
}
@media (max-width: 767px) {
  .step__top-number {
    font-size: calc( 16px + 15.3 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .step__top-number {
    font-size: calc(16px + 9 * (100vw / 1920));
  }
}
.step__top-title {
  font-weight: 600;
  line-height: 112px;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .step__top-title {
    font-size: calc( 40px + 59.5 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .step__top-title {
    font-size: calc(40px + 35 * (100vw / 1920));
  }
}
.step__top-text {
  font-weight: 400;
  line-height: 45px;
  color: #707070;
  padding: 0 15px;
  margin-bottom: 34px;
}
@media (max-width: 767px) {
  .step__top-text {
    font-size: calc( 18px + 20.4 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .step__top-text {
    font-size: calc(18px + 12 * (100vw / 1920));
  }
}
.step__top-link {
  display: inline-block;
  max-width: 313px;
  background-color: #000;
  padding: 24px 0;
  font-weight: 600;
  line-height: 30px;
  color: #707070;
  transition: all 0.3s;
  border: 1px solid #707070;
  border-radius: 7px;
  width: 100%;
}
@media (max-width: 767px) {
  .step__top-link {
    font-size: calc( 16px + 6.8 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .step__top-link {
    font-size: calc(16px + 4 * (100vw / 1920));
  }
}
.step__top-link:hover {
  background-color: #326cf9;
  color: #fff;
}
.step__content {
  display: flex;
  align-items: flex-start;
  text-align: left;
  justify-content: right;
  max-width: 1735px;
  margin-left: auto;
  margin-bottom: 71px;
}
.step__content-left {
  margin-right: auto;
  padding-left: 20px;
}
.step__content-about {
  font-weight: 500;
  line-height: 45px;
  margin-bottom: 80px;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .step__content-about {
    font-size: calc( 18px + 20.4 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .step__content-about {
    font-size: calc(18px + 12 * (100vw / 1920));
  }
}
.step__content-title {
  font-weight: 600;
  line-height: 112px;
  margin-bottom: 27px;
}
@media (max-width: 767px) {
  .step__content-title {
    font-size: calc( 40px + 59.5 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .step__content-title {
    font-size: calc(40px + 35 * (100vw / 1920));
  }
}
.step__content-title span {
  color: #3c82f4;
}
.step__content-list {
  counter-reset: myCounter;
  margin-bottom: 66px;
}
.step__content-item {
  list-style: none;
}
.step__content-item::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  color: white;
  background: #707070;
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  width: 33px;
  height: 33px;
}
.step__content-link {
  max-width: 207px;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 7px;
  background-color: #000;
  border: 1px solid #707070;
  transition: all 0.3s;
  padding: 18px 0;
  color: #707070;
}
@media (max-width: 767px) {
  .step__content-link {
    font-size: calc( 16px + 6.8 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .step__content-link {
    font-size: calc(16px + 4 * (100vw / 1920));
  }
}
.step__content-link:hover {
  background-color: #326cf9;
  color: #fff;
}
.step__content-link + .step__content-link {
  margin-left: 24px;
}
.step__content-right img {
  max-width: 820px;
  width: 100%;
  height: auto;
}
.step__blocks {
  display: flex;
  justify-content: center;
  gap: 23px;
  margin-bottom: 71px;
  padding: 0 20px;
}
.step__block {
  display: flex;
  flex-direction: column;
  max-width: 854px;
  width: 100%;
  padding: 33px 0 0 45px;
  text-align: left;
  background-color: #0d0d0d;
}
.step__block + .step__block {
  padding: 33px 45px;
}
.step__block .block__about {
  font-weight: 400;
  line-height: 45px;
  color: #0fc65c;
}
@media (max-width: 767px) {
  .step__block .block__about {
    font-size: calc( 18px + 20.4 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .step__block .block__about {
    font-size: calc(18px + 12 * (100vw / 1920));
  }
}
.step__block .block__title {
  font-weight: 600;
  margin-top: 24px;
  line-height: 120px;
  color: #919191;
}
@media (max-width: 767px) {
  .step__block .block__title {
    font-size: calc( 40px + 68 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .step__block .block__title {
    font-size: calc(40px + 40 * (100vw / 1920));
  }
}
.step__block .block__title span {
  color: #fff;
}
.step__block .block__phone-img {
  width: 100%;
  max-width: 788px;
  height: auto;
  margin-left: auto;
}
.step__block .right_block {
  margin-bottom: 96px;
}
.step__block-link {
  display: inline-block;
  max-width: 283px;
  background-color: #000;
  padding: 22px 0;
  font-weight: 600;
  line-height: 30px;
  color: #707070;
  transition: all 0.3s;
  border: 1px solid #707070;
  border-radius: 7px;
  width: 100%;
  margin-bottom: 189px;
}
@media (max-width: 767px) {
  .step__block-link {
    font-size: calc( 16px + 6.8 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .step__block-link {
    font-size: calc(16px + 4 * (100vw / 1920));
  }
}
.step__block-link:hover {
  background-color: #326cf9;
  color: #fff;
}

.feedback__title {
  font-weight: 600;
  line-height: 112px;
  margin-bottom: 52px;
}
@media (max-width: 767px) {
  .feedback__title {
    font-size: calc( 30px + 76.5 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .feedback__title {
    font-size: calc(30px + 45 * (100vw / 1920));
  }
}
.feedback__img {
  max-width: 100%;
  margin-bottom: 188px;
}

.numbers__inner {
  background-image: url(../images/numbers.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  margin-bottom: 188px;
}
.numbers__inner .numbers__text {
  max-width: 1236px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  padding: 0 20px;
  line-height: 105px;
}
@media (max-width: 767px) {
  .numbers__inner .numbers__text {
    font-size: calc( 26px + 74.8 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .numbers__inner .numbers__text {
    font-size: calc(26px + 44 * (100vw / 1920));
  }
}

.footer {
  text-align: center;
  padding-bottom: 96px;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__title {
  font-weight: 700;
  line-height: 150px;
}
@media (max-width: 767px) {
  .footer__title {
    font-size: calc( 48px + 88.4 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .footer__title {
    font-size: calc(48px + 52 * (100vw / 1920));
  }
}
.footer__text {
  font-weight: 400;
  line-height: 64px;
  margin-bottom: 14px;
}
@media (max-width: 767px) {
  .footer__text {
    font-size: calc( 26px + 28.9 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .footer__text {
    font-size: calc(26px + 17 * (100vw / 1920));
  }
}
.footer__login-title {
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
}
.footer__login-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 46px;
}
.footer__link {
  display: inline-block;
  max-width: 472px;
  background-color: #000;
  padding: 29px 0;
  transition: all 0.3s;
  border: 1px solid #707070;
  border-radius: 7px;
  width: 100%;
  font-weight: 600;
  line-height: 45px;
  margin-bottom: 26px;
}
@media (max-width: 767px) {
  .footer__link {
    font-size: calc( 18px + 20.4 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .footer__link {
    font-size: calc(18px + 12 * (100vw / 1920));
  }
}
.footer__link:hover {
  background-color: #326cf9;
  color: #fff;
}
.footer__bottom-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.footer__logo-links {
  font-weight: 400;
  line-height: 40px;
  color: #707070;
}
@media (max-width: 767px) {
  .footer__logo-links {
    font-size: calc( 17px + 17 * ((100vw - 320px) / 1920) );
  }
}
@media (min-width: 767px) {
  .footer__logo-links {
    font-size: calc(17px + 10 * (100vw / 1920));
  }
}
.footer__nav {
  display: flex;
  justify-content: space-between;
}
.footer__nav .menu__item {
  font-size: 28px;
  line-height: 42px;
}
.footer .logo-link {
  display: block;
}
.footer .logo-link img {
  margin-bottom: -15px;
}
.footer .email__link {
  display: block;
  transition: all 0.3s;
}
.footer .email__link:hover {
  color: #fff;
}

.tarifs__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 190px;
}
.tarifs__item {
  background-color: #131313;
  border: 1px solid #707070;
  border-radius: 30px;
  padding: 33.5px;
  text-align: left;
  transition: all 0.3s;
  height: 989px;
  max-width: 496px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tarifs__item:hover {
  background-color: #3c82f4;
  border-color: #3c82f4;
}
.tarifs__item:hover p,
.tarifs__item:hover span {
  color: #fff;
}
.tarifs__item:hover .tarifs__btn {
  background-color: #fff;
  color: #3c82f4;
}
.tarifs__name {
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
}
.tarifs__name-about {
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  color: #b4b1b1;
  margin-bottom: 66px;
}
.tarifs__price {
  font-weight: 700;
  font-size: 69px;
  line-height: 42px;
  margin-bottom: auto;
}
.tarifs__price span {
  font-weight: 400;
  font-size: 26px;
  color: #b4b1b1;
  line-height: 42px;
}
.tarifs__price span span {
  line-height: 42px;
}
.tarifs__sub {
  font-weight: 700;
  margin-top: auto;
  font-size: 27px;
  line-height: 40px;
}
.tarifs__sub-about {
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 45px;
}
.tarifs__upgrade {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #b4b1b1;
  margin-bottom: 53px;
}
.tarifs__features {
  list-style: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  padding-left: 30px;
  position: relative;
}
.tarifs__features-capture {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 28px;
}
.tarifs__feature::before {
  content: "";
  background-image: url(../images/check_tarif.svg);
  width: 25px;
  height: 18px;
  background-repeat: no-repeat;
  margin-top: 7px;
  position: absolute;
  left: 0;
}
.tarifs__feature + .tarifs__feature {
  margin-top: 20px;
}
.tarifs__btn {
  border: 3.5px solid #4681e7;
  background-color: transparent;
  color: #fff;
  padding: 32px 0;
  max-width: 100%;
  margin-top: auto;
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
  border-radius: 30px;
  cursor: pointer;
}

.sourses__about {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 130px;
}
.sourses__title {
  font-weight: 600;
  font-size: 120px;
  line-height: 180px;
}
.sourses__items {
  display: grid;
  grid-template-columns: repeat(3, 403px);
  gap: 23px;
  justify-content: center;
  margin-bottom: 190px;
}
.sourses__item {
  background-color: transparent;
  border: 1px solid #707070;
  border-radius: 7px;
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 403px;
  text-align: left;
  padding: 36px 33px 17px 28px;
}
.sourses__item-img {
  max-width: 50px;
  margin-bottom: 17px;
}
.sourses__item-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 11px;
}
.sourses__item-text {
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  color: #828282;
}

.soon::after {
  content: "Coming Soon";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4a7de3;
  position: absolute;
  display: flex;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  background-color: #102142;
  width: 145px;
  height: 39px;
  right: 13px;
  top: 14px;
}

.about {
  max-width: 1252px;
  margin: 0 auto;
}
.about__img {
  margin-bottom: 49px;
}
.about__top {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #306ef7;
}
.about__title {
  font-weight: 600;
  font-size: 75px;
  max-width: 994px;
  margin: 0 auto;
  line-height: 94px;
}
.about__bottom {
  font-weight: 400;
  font-size: 30px;
  max-width: 994px;
  margin: 0 auto;
  line-height: 45px;
  margin-bottom: 186px;
}
.about__text {
  text-align: left;
  margin: 0 auto;
  max-width: 1133px;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  padding-bottom: 56px;
  border-bottom: 1.5px solid #828282;
  margin-bottom: 188px;
}
.about__text-author {
  font-weight: 600;
}
.about__text p + p {
  margin-top: 29px;
}

.team {
  max-width: 1058px;
  margin: 0 auto;
  margin-bottom: 190px;
}
.team__top {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #306ef7;
}
.team__title {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  margin-bottom: 60px;
}
.team__profiles {
  display: flex;
  justify-content: space-between;
}
.team__profile-name {
  font-weight: 700;
  margin-top: 21px;
  font-size: 35px;
  line-height: 52px;
}
.team__profile-about {
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #707070;
  margin-bottom: 21px;
}
.team__profile-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.form {
  margin-bottom: 83px;
}
.form__title {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
}
.form__about {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 75px;
}
.form__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1188px;
  margin: 0 auto;
  gap: 46px;
}
.form__inner-login {
  justify-content: center;
}
.form__inner input {
  max-width: 487px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-weight: 400;
  font-size: 23px;
  min-height: 85px;
  color: #fff;
  position: relative;
  line-height: 34px;
}
.form__inner input::placeholder {
  color: #fff;
}
.form__btn {
  width: 100%;
  background-color: #326cf9;
  max-width: 487px;
  font-weight: 400;
  font-size: 26px;
  line-height: 39px;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  padding: 20px;
}
.form__username {
  background-image: url(../images/User.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.form__email {
  background-image: url(../images/mail.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.form__password {
  background-image: url(../images/Eye.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.login__links {
  display: flex;
  max-width: 1520px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 69px;
}

.login__link {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 21px;
  line-height: 32px;
  align-items: center;
  max-width: 454px;
  padding: 20px;
  transition: all 0.3s;
  border-radius: 10px;
  border: 1px solid #fff;
  width: 100%;
}
.login__link:hover {
  background-color: #326cf9;
}
